@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&family=Oswald:wght@200;300;400;500;600;700&family=Roboto:wght@700;900&display=swap');

:root {
  --body-bg-color: #eef4f4;
  --menu-header-bg-color: rgb(47, 73, 122);
  --button-dark-color: black;
  --head-color: #4063a6;
  --th-bg-color: #68028aa0;
  --td-th-border: 1px solid rgb(0, 0, 0);
  --tr-bg-color-odd: #9f9e9e;
  --tr-bg-color-even: #dfd2d2;
  --tr-bg-color-hover: rgb(246, 242, 242);
  --dark-bg-color: rgb(19, 19, 19);
}

.dark-mode:root {
  --body-bg-color: rgb(19, 19, 19);
  --menu-header-bg-color: rgb(47, 73, 122);
  --button-dark-color: white;
  --head-color: white;
  --th-bg-color: #8104aaa0;
  --td-th-border: 1px solid #ddd;
  --tr-bg-color-odd: #949191;
  --tr-bg-color-even: #f2f2f2;
  --tr-bg-color-hover: rgb(203, 193, 193);
  --text-shadow-button-dark: 1.5px 1.5px white;
  --dark-bg-color: #eef4f4;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif, 'cursive';
  font-weight: 800;
  color: #4063a6;
}

body {
  background-color: var(--body-bg-color);
  transition: 0.2s;
}

#menu {
  background-color: var(--menu-header-bg-color);
  min-height: 60px;
}

#dark-mode {
  /* color: var(--button-dark-color); */
  color: none;
  /* text-shadow: var(--text-shadow-button-dark); */
  border-radius: 40px;
  background-color: var(--dark-bg-color);
  font-size: 2.5em;
  position: absolute;
  top: 5px;
  left: 95%;
  background-color: none;
}

#dark-mode:hover {
  cursor: pointer;
}

#head {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  font-size: 15pt;
  text-align: center;
  color: var(--head-color);
  transition: color 0.2s;
}

#corpo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#textSql {
  padding: 5px;
  margin-top: 25px;
  margin-bottom: 20px;
  background-color: #ffffff;
  color: rgb(-254, -254, -254);
  border: 2.5px solid #9dcacc;
  width: 700px;
  height: 30vh;
  font-size: 16pt;
  font-weight: bold;
}

div#botao {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.botao {
  border: none;
  padding: 5px;
  font-size: 13pt;
  background-color: #9dcacc;
  /* color: #fff; */
  font-weight: bold;
  border-radius: 15px;
  transition: padding 0.3s;
  width: fit-content;
}

button.botao:hover {
  cursor: pointer;
  padding: 8px;
}

#assets {
  display: flex;
  align-content: center;
  gap: 100px;
}

#result {
  display: none;
  padding-bottom: 20px;
}

#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  table-layout: fixed;
  width: 1200px;
}

#customers td,
#customers th {
  border: var(--td-th-border);
  padding: 8px;
}

#customers td {
  word-break: break-all;
}

#customers tr:nth-child(odd) {
  background-color: var(--tr-bg-color-odd);
}

#customers tr:nth-child(even) {
  background-color: var(--tr-bg-color-even);
}

#customers tr:hover {
  background-color: var(--tr-bg-color-hover);
}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: var(--th-bg-color);
  color: white;
}

#erroMsg {
  margin-top: 20px;
  padding: 25px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  background-color: rgba(200, 143, 143, 0.737);
  font-size: 15pt;
  text-align: center;
  width: fit-content;
}

#erroMsg span {
  color: rgb(222, 219, 21);
  font-size: 40pt;
}

@media screen and (max-width: 1254px) {
  #customers {
    width: 900px;
  }
}

@media screen and (max-width: 745px), (max-width: 950px) {
  #head {
    font-size: 14pt;
  }

  .botao {
    font-size: 9pt;
  }

  #erroMsg,
  #customers {
    width: 690px;
  }

  #dark-mode {
    font-size: 4em;
  }

  #textSql {
    font-size: 15px;
  }
}

@media screen and (max-width: 545px), (max-width: 740px) {
  #head {
    font-size: 13pt;
  }

  #erroMsg,
  #customers {
    width: 490px;
  }

  #dark-mode {
    font-size: 3em;
  }
}

@media screen and (max-width: 400px), (max-width: 540px) {
  #head {
    font-size: 12pt;
  }

  .botao {
    font-size: 8pt;
    margin-top: 5px;
  }

  #erroMsg,
  #customers {
    width: 380px;
  }
  
  #dark-mode {
    font-size: 2em;
    top: 9px;
  }

  #textSql {
    font-size: 13px;
  }
}

@media screen and (min-width: 313px) and (max-width: 399px) {
  #erroMsg,
  #customers {
    width: 280px;
  }
}

@media screen and (max-width: 312px) {
  #head {
    font-size: 9pt;
  }

  .botao {
    font-size: 5pt;
    padding: 1px;
  }

  #erroMsg,
  #customers {
    width: 200px;
  }
}

@media screen and (max-width: 310px) {
  #dark-mode {
    font-size: 1em;
    left: 80%;
  }

  #erroMsg,
  #customers {
    width: 100px;
  }
}