@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@100;200;300;400;500;600;700;800&family=Oswald:wght@200;300;400;500;600;700&family=Roboto:wght@700;900&display=swap');

:root {
  --body-bg-color: #eef4f4;
  --primary-color: rgb(47, 73, 122);
  --secundary-color: #9dcacc;
  --tr-bg-color-odd: #b4e7ea;
  --tr-bg-color-even: #9ff4ed;
  --tr-bg-color-hover: rgb(246, 242, 242);
  --dark-bg-color: #eef4f4;
}

.dark-mode:root {
  --body-bg-color: rgb(33, 32, 32);
  --dark-bg-color: rgb(19, 19, 19);
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif, 'cursive';
  font-weight: 800;
  color: var(--primary-color);
}

body {
  background-color: var(--body-bg-color);
  transition: 0.2s;
}

#menu {
  background-color: var(--primary-color);
  height: 60px;
}

#dark-mode {
  color: none;
  border-radius: 40px;
  background-color: var(--dark-bg-color);
  font-size: 2.5em;
  position: absolute;
  top: 10px;
  left: 95%;
  background-color: none;
}

#dark-mode:hover {
  cursor: pointer;
}

#head {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  font-size: 20pt;
  text-align: center;
  color: var(--primary-color);
  transition: color 0.2s;
}

#corpo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#textSql {
  padding: 7px;
  margin-top: 25px;
  margin-bottom: 20px;
  background-color: #ffffff;
  border: 2.5px solid var(--secundary-color);
  width: 700px;
  height: 25vh;
  font-weight: 500;
}

div#botao {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.botao {
  border: none;
  padding: 5px;
  font-size: 13pt;
  background-color: var(--secundary-color);
  font-weight: bold;
  border-radius: 15px;
  transition: padding 0.2s;
  width: fit-content;
}

button.botao:hover {
  cursor: pointer;
  padding: 7px;
}

#assets {
  display: flex;
  align-content: center;
  gap: 100px;
}

#assets img {
  height: 100px;
  width: 100px;
}

#result {
  display: none;
  padding-bottom: 20px;
  margin-top: 20px;
}

#customers {
  border-spacing: 5px 0.9997px;
  table-layout: fixed;
}

#customers td,
#customers th {
  padding: 8px;
  border: 3px solid var(--primary-color);
  text-align: center;
}

#customers th {
  background-color: var(--primary-color);
  color: white;
  font-size: 25px;
}

#customers td {
  word-break: break-all;
}

#customers td:nth-child(even) {
  text-align: left;
}

#customers tr:nth-child(odd) {
  background-color: var(--tr-bg-color-odd);
}

#customers tr:nth-child(even) {
  background-color: var(--tr-bg-color-even);
}

#customers tr:hover {
  background-color: var(--tr-bg-color-hover);
}

#erroMsg {
  margin-top: 20px;
  padding: 25px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  background-color: rgba(200, 143, 143, 0.737);
  font-size: 18px;
  text-align: center;
}

#erroMsg span {
  color: rgb(222, 219, 21);
  font-size: 40pt;
}

#customers,
#erroMsg {
  min-width: 700px;
  max-width: 900px;
}

@media screen and (max-width: 1060px) {
  #dark-mode {
    left: 94%;
  }

  #head {
    font-size: 14pt;
  }

  #textSql {
    width: 600px;
    height: 20vh;
  }

  .botao {
    font-size: 15px;
  }

  #assets img {
    height: 90px;
    width: 90px;
  }

  #erroMsg,
  #customers {
    min-width: 600px;
    max-width: 800px;
  }

  #customers th {
    font-size: 20px;
  }

  #customers td,
  #erroMsg {
    font-size: 14px;
  }

  #assets {
    gap: 80px
  }
} 

@media screen and (max-width: 895px) {
  #dark-mode {
    left: 93%;
  }

  #erroMsg,
  #customers {
    max-width: 700px;
  }
}

@media screen and (max-width: 743px) {
  #head {
    font-size: 12pt;
  }

  #textSql {
    width: 500px;
    height: 18vh;
    font-size: 9pt;
  }

  .botao {
    font-size: 10pt;
  }

  #erroMsg,
  #customers {
    min-width: 400px;
    max-width: 600px;
  }

  #customers th {
    font-size: 17px;
  }

  #customers td,
  #erroMsg {
    font-size: 13px;
  }

  #assets {
    gap: 60px;
  }

  #assets img {
    height: 60px;
    width: 60px;
  }
}

@media screen and (max-width: 633px) {
  #dark-mode {
    left: 92%;
  }

  #head {
    font-size: 10pt;
  }

  #textSql {
    width: 400px;
    height: 15vh;
    font-size: 8pt;
  }

  .botao {
    font-size: 8pt;
  }

  #erroMsg,
  #customers {
    min-width: 300px;
    max-width: 500px;
  }

  #customers th {
    font-size: 15px;
  }

  #customers td,
  #erroMsg {
    font-size: 12px;
  }

  #assets {
    gap: 50px
  }
}

@media screen and (max-width: 530px) {
  #menu {
    height: 50px;
  }

  #dark-mode {
    font-size: 30px;
  }

  #head {
    font-size: 9pt;
  }

  #textSql {
    width: 300px;
    font-size: 8pt;
  }

  .botao {
    font-size: 7pt;
  }

  #erroMsg,
  #customers {
    max-width: 400px;
  }
}

@media screen and (max-width: 479px) {
  #menu {
    height: 40px;
  }

  #dark-mode {
    font-size: 22px;
  }

  #head {
    font-size: 6pt;
  }

  #textSql {
    width: 250px;
    font-size: 7pt;
  }

  .botao {
    font-size: 6pt;
  }

  img {
    width: 50px;
    height: 50px;
  }

  #erroMsg,
  #customers {
    min-width: 200px;
    max-width: 250px;
  }

  #customers th {
    font-size: 13px;
  }

  #customers td,
  #erroMsg {
    font-size: 11px;
  }

  #assets {
    gap: 40px
  }
}

@media screen and (max-width: 325px) {
  #menu {
    height: 35px;
  }

  #dark-mode {
    font-size: 18px;
    left: 90%;
  }

  #head {
    font-size: 4pt;
  }

  #textSql {
    width: 200px;
    height: 10vh;
    font-size: 5pt;
  }

  .botao {
    font-size: 4pt;
  }

  #erroMsg,
  #customers {
    min-width: 100px;
  }

  #customers th {
    font-size: 11px;
  }

  #customers td,
  #erroMsg {
    font-size: 9px;
  }

  #assets {
    gap: 30px
  }
}