* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
  background-color: rgb(19, 19, 19);
}

#head {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  font-size: 20pt;
  text-align: center;
  color: white;
  text-shadow: 2px 2px #8104aaa0;
}

#corpo {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#textSql {
  margin-top: 25px;
  margin-bottom: 20px;
  background-color: rgba(254, 254, 254, 0.935);
  color: rgb(-254, -254, -254);
  width: 70vw;
  height: 30vh;
  font-size: 16pt;
  font-weight: bold;
}

div#botao {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.botao {
  padding: 10px;
  font-size: 13pt;
  background-color: #8104aaa0;
  color: #fff;
  font-weight: bold;
  border-radius: 5px;
  transition: padding 0.3s;
}

.botao:hover {
  cursor: pointer;
  background-color: #8d4fa2e1;
  padding: 13px;
}

#result {
    display: none;
    padding-bottom: 20px;
}


#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #customers td,
  #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }

  #customers tr:nth-child(odd) {
    background-color: #949191;
  }
  
  #customers tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  #customers tr:hover {
    background-color: #ddd;
  }
  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #8104aaa0;
    color: white;
  }
  
  #tableCorpo td {
    text-align: center;
  }
  
  #tableCorpo a {
    text-decoration: none;
    color: black;
  }

  #erroMsg {
    margin-top: 20px;
    padding: 25px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    background-color: rgba(200, 143, 143, 0.737);
    font-size: 15pt;
    text-align: center;
  }

  #erroMsg span {
    color: rgb(222, 219, 21);
    font-size: 40pt;
  }